@font-face {
    font-family: 'font1';
    src: url(../resources/font/font1.ttf);
}

@font-face {
    font-family: 'font2';
    src: url(../resources/font/font2.ttf);
}

@font-face {
    font-family: 'font3';
    src: url(../resources/font/font3.ttf);
}

:root {
    --index_wave_size: 3000px;
    --index_wave_top: -2500px;
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    user-select: none;
}

body {
    font-family: 'font1';
    background-color: #B5B2FF;
    transition: 0.3s;
    transition-property: background-color;
}

#index_web_name {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 200px;
    top: 18%;
    transition: 0.3s;
}

#index_web_name > p {
    font-size: 170px;
    font-family: 'font1';
    animation: font_change 3s linear infinite;
}

#index {
    transition: 0.3s;
    transition-property: opacity;
}

#index_button_container {
    position: absolute;
    width: 90%;
    margin-left: 5%;
    margin-top: 630px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

@keyframes font_change {

    0% {
        font-family: 'font1';
    }

    33% {
        font-family: 'font2';
    }

    66% {
        font-family: 'font3';
    }
}

.index_button {
    transition: 0.3s;
    width: 130px;
    height: 50px;
    border-radius: 5px;
    background-color: #00000000;
    border: none;
    font-size: 40px;
    font-family: 'font1';
    font-weight: bold;
    color: rgb(90, 90, 90);
}

.index_button:hover {
    font-size: 50px;
    color: black;
    animation: font_change 0.3s linear infinite;
}

@keyframes wave_rotate {
    0% {
        top: calc(var(--index_wave_top) - 50px);
    }

    50% {
        top: calc(var(--index_wave_top) + 50px);
    }

    100% {
        transform: rotate(360deg);
        top: calc(var(--index_wave_top) - 50px);
    }
}

@keyframes water_up {
    100% {
        top: calc(var(--index_wave_top) - 1500px);
        transform: rotate(360deg);
    }
}
@keyframes water_down {
    0% {
        top: calc(var(--index_wave_top) - 750px);
    }
    100% {
        top: calc(var(--index_wave_top) - 50px);
        transform: rotate(90deg);
    }
}
#index_wave {
    position: absolute;
    top: var(--index_wave_top);
    left: -2000px;
    right: -2000px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: var(--index_wave_size);
    height: var(--index_wave_size);
    border-radius: 1400px;
    animation: wave_rotate 10s linear infinite;
    transform-origin: 50% 50%;
}

#index_update_note {
    position: absolute;
    width: auto;
    height: auto;
    top: 20px;
    right: 20px;
    display: flex;
}

#update_icon {
    background-color: #95e8ffef;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    color: white;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
    font-weight: bold;
    transition: 0.3s;
}

#update_icon:hover {
    color: rgb(81, 61, 52);
    background-color: #1fcfffd2;
    width: 250px;
    height: 500px;
    border-radius: 25px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}

#update_content {
    width: 250px;
    height: auto;
    transition: 0.3s;
}

#update_content > dl {
    color: rgb(81, 61, 52);
    font-size: 30px;
    padding: 0 10px;
}

#update_content > dl > dt {
    font-size: 35px;
    line-height: 35px;
    text-align: left;
    margin-top: 10px;
}

#update_content > dl > dd {
    font-size: 25px;
    line-height: 25px;
    margin: 0 20px 50px 20px;
    text-align: left;
}

#select_div {
    position: absolute;
    width: 70%;
    height: 500px;
    left: 15%;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: inherit;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    opacity: 0;
    justify-content: center;
    padding-top: 5%;
}

#game_select_div {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

@keyframes select_mod_fadeIn {
    100% {
        width: 350px;
        height: 350px;
    }
}
@keyframes select_mod_fadeOut {

    0% {
        width: 350px;
        height: 350px;
    }
    100% {
        width: 0px;
        height: 0px;
    }
}

.select_mod {
    width: 0;
    height: 0;
    background-color: white;
    border-radius: 100%;
    top: 0;
    bottom: 0;
    margin: auto 0;
    pointer-events: auto;
    transition-property: background-color;
    transition: 0.3s;
    font-weight: bold;
    font-size: 50px;
    font-family: 'font1';
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.mod_name {
    width: 300px;
    height: 50px;
    text-align: center;
}

.keyboard_box {
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.keyboard {
    margin: 0 5px;
    overflow: visible;
    width: 50px;
    height: 50px;
    background-color: rgb(72, 72, 72);
    text-align: center;
    border-radius: 10%;
    color: white;
}

#select_mod_back {
    width: 0px;
    height: 0px;
    background-color: white;
    border-radius: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    line-height: 75px;
    vertical-align: middle;
    font-family: 'font1';
    font-weight: bold;
    pointer-events: auto;
    transition: 0.3s;
}

.select_mod:hover {
    transition-property: all;
    background-color: rgb(176, 217, 255);
    top: -20px;
}

#select_mod_back:hover {
    transition-property: all;
    background-color: rgb(176, 217, 255);
    margin-bottom: 20px;
}

@keyframes back_fadeIn {
    100% {
        width: 75px;
        height: 75px;
    }
}

@keyframes back_fadeOut {
    0% {
        width: 75px;
        height: 75px;
    }
    100% {
        width: 0;
        height: 0;
    }
}

#about_game {
    
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 90%;
    left: 5%;
    height: 90%;
    top: 5%;
    bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: 0.3s;
}

#about_content {
    height: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right, rgba(255, 0, 0, 0) 40%, rgb(255, 255, 255) 40%, rgb(255, 255, 255) 60%, rgba(255, 166, 0, 0) 60%);
    border-image-slice: 1;
}

#about_content > p{
    width: 100%;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    font-family: "font1";
    font-weight: bold;
    font-size: 30px;
    color: rgb(218, 255, 212);
    transition: 0.3s;
    top: 1500px;
}

#about_content > p:hover {
    color: rgb(255, 255, 255);
    font-size: 40px;
    padding-bottom: 30px;
}

#about_content > h1{
    width: 100%;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    font-family: "font1";
    font-weight: bold;
    font-size: 50px;
    color: rgb(218, 255, 212);
    transition: 0.3s;
    top: 1500px;
}

#about_content > h1:hover {
    color: rgb(255, 255, 255);
    font-size: 60px;
    padding-top: 30px;
}

#about_back {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-radius: 100%;
    text-align: center;
    background-color: white;
    text-align: center;
    line-height: 75px;
    vertical-align: middle;
    color: rgb(87, 87, 87);
    font-size: 30px;
    font-family: "font1";
    font-weight: bold;
    transition: 0.3s;
    top: 0;
}

#about_back:hover {
    background-color: rgb(190, 255, 233);
    margin-bottom: 20px;
}

@keyframes text_fadeIn {
    0% {
        top: 1500px
    }
    100% {
        top: 0px;
    }
}

@keyframes text_fadeOut {
    0% {
        top: 0px;
    }
    100% {
        top: 1500px;
    }
}

#game_start {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}

#game_score {
    width: 130px;
    height: 130px;
    line-height: 130px;
    font-size: 130px;
    vertical-align: middle;
    color: black;
    font: 'font1';
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

#game_total_scr {
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-around;
}

.game_screen {
    top: 0;
    bottom: 0;
    width: 0;
    height: 0;
    margin: 50px 20px;
    border-radius: 100vw;
    background-color: rgb(255, 255, 255);
    transition: 2s;
    opacity: 1;
}